{% extends 'layout.html' %}
{% block body %}
<style>
    .center {
      margin: auto;
      width: 20%;
      padding: 10px;
    }
    </style>
<div class="center">
    <h1 class="elementor-heading-title elementor-size-default" style="font-family:cursive; color: red;" >ABOUT</h1>	
	
</div>
<div class="container" data-id="6148ce67" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
            
        <div id="1610746834.010500" class="container" role="listitem" data-qa="virtual-list-item">
            <div class="c-message_kit__background c-message_kit__background--hovered p-message_pane_message__message c-message_kit__message" role="document" data-qa="message_container" data-qa-unprocessed="false" data-qa-placeholder="false">
                <div class="c-message_kit__hover c-message_kit__hover--hovered" role="document" data-qa-hover="true">
                    <div class="c-message_kit__actions c-message_kit__actions--above">
                        <div class="c-message_kit__gutter"
                        ><div class="c-message_kit__gutter__right" data-qa="message_content">
                            <div class="c-message_kit__blocks c-message_kit__blocks--rich_text">
                                <div class="c-message__message_blocks c-message__message_blocks--rich_text">
                                    <div class="p-block_kit_renderer" data-qa="block-kit-renderer">
                                        <div class="p-block_kit_renderer__block_wrapper p-block_kit_renderer__block_wrapper--first">
                                            <div class="p-rich_text_block" dir="auto">
                                                <div class="p-rich_text_section" style="font-family: cursive;">
                                                    <h2  >Our mission is to increase accessibility and reduce the cost of low acuity care at population scale.
                                                    We are inspired to create tools that help people to play a more active role in their personal healthcare and empower the private sector and world governments with technology that makes healthcare more accessible and reduces the cost of routine care at population scale.</div>
                                                    </h2>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container" style="height:33vh">

</div>
{% endblock %}