{% extends "layout.html" %}
{% block css %}
.card
{
margin-bottom:20px;
border-radius:10px;
height:auto;
max-height:56vh;
overflow:hidden;
}
.card:hover {
background-color:#87a4f6;
}
.card img {
border-radius:10px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.card
{
margin-bottom:20px;
border-radius:10px;
height:auto;
max-height:55vh;
overflow:hidden;
}
}
{% endblock css %}
{% block body %}



<br>

<div class="container-fluid px-5 mb-3 pb-3">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top"
          src="{{ url_for('static', filename='diabetes_image.jpg') }}" width="150"
          height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Diabetes Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('diabetes') }}" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top"
          src="https://i1.wp.com/www.md2c.nl/wp-content/uploads/2016/06/predict-heart-disease.jpg?fit=480%2C360"
          width="150" height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Heart Disease Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('heart') }}" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='cancer_.png') }}" width="150" height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Cancer Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('cancer') }}" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='fetal_image.jpeg') }}" width="150" height="200"
          alt="fetal image">
        <div class="card-body">
          <h4 class="card-title">Fetal Health Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="/fetal_health" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top" src="{{url_for('static',filename='stroke.png')}}" width="150" height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Stroke Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('stroke') }}" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top" src="{{url_for('static',filename='liver.jpg')}}" width="150" height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Liver Disease Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
          <div class="card-footer">
            <a href="{{ url_for('liver') }}" class="btn btn-primary">Take Test!</a>
          </div>
        </div>
      </div>
      

  </div>
</div>

<!-- /.row 

    
    <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='malaria.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Malaria Prediction</h4>
            <h6 class="card-text"></h6>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('malaria') }}" class="btn btn-primary">Take Test!</a>
          </div>
        </div>
  </div>
  <!-- /.row

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='malaria.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Malaria Prediction</h4>
            <h6 class="card-text"></h6>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('heart') }}" class="btn btn-primary">Take Test!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='pneumonia.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Pneumonia Prediction</h4>
            <h6 class="card-text"></h6>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('heart') }}" class="btn btn-primary">Take Test!</a>
          </div>
        </div>
      </div>
    </div>-->


{% endblock %}