<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Health Check</title>
  <link rel="icon" href="static/favicon.ico" type="image/gif" sizes="16x16">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/darkmode.css">
 
</head>

<body>
  <input type="checkbox" id="toggle" name="checkbox" class="switch" onclick="myfun()">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg shadow fixed-top mynav">
    <div class="container">
      <a class="navbar-brand" href="/">Health Check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Diseases
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/diabetes">Diabetes Prediction</a>
              <a class="dropdown-item" href="/heart">Heart Disease Prediction</a>
              <a class="dropdown-item" href="/cancer">Cancer Prediction</a>
              <a class="dropdown-item" href="/fetal_health">Fetal Health Prediction</a>
              <a class="dropdown-item" href="/malaria">Malaria Prediction</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  {% block body %} {% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
  <footer>
    <svg viewBox="0 0 120 20">
      <defs>
        <mask id="xxx">
          <circle cx="7" cy="12" r="40" fill="#fff" />
        </mask>

        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="
           1 0 0 0 0  
           0 1 0 0 0  
           0 0 1 0 0  
           0 0 0 13 -9" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
        <path id="wave"
          d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
      </defs>

      <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2"></use>
      <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>


      <g class="gooeff">
        <circle class="drop drop1" cx="20" cy="2" r="1.8" />
        <circle class="drop drop2" cx="25" cy="2.5" r="1.5" />
        <circle class="drop drop3" cx="16" cy="2.8" r="1.2" />
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />

        <!-- g mask="url(#xxx)">
    <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
    </g>
  </g -->

    </svg>


  </footer>
  <div class="footer container-fluid pt-4 pb-1 ">
    <p>Made with ❤ By Bceian<br>
    </p>
    <div class="rounded-social-buttons">
      <a class="social-button github" href="https://github.com/m4nishh/HealthCheck" target="_blank">
        <i class="fab fa-github"></i></a>
    </div>
  </div>




  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/darkmode.js"></script>
</body>

</html>